body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i2-prod.mirror.co.uk/incoming/article13150515.ece/ALTERNATES/s1227b/0_PAY-Clock-over-door-to-Honby-library-Liverpool-central-library-Picton-reading-rooms.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Yellow-colored buttons */
button {
    background-color: yellow;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for links that look like buttons */
a.button {
    display: inline-block;
    background-color: yellow;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
